@import "../../node_modules/bootstrap/scss/bootstrap";

.center-large {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1200px) {
    .center-large {
        width: 60%; /* Adjust the width according to your needs */
    }
}


.index-bg-img {
    display: block;
    position: relative;
    height: 30em;
}

.lister-card {
    width: 12em;
    height: 15em;
    padding-top: 6em;
    overflow: hidden;
}

.lister-card-text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}