@import "../../node_modules/bootstrap/scss/bootstrap";

.index-bg-img {
    background-image: url("https://mriyaresort.com/upload/_content/c15/rcbjw5rhe9slfmrajaai5px9u6xlwa0o.jpg");
    min-height: 30em;
}

.restaurant-card {
    width: 12em;
    height: 15em;
    padding-top: 8em;
    overflow: hidden;
}

.restaurant-text {
    background-color: rgba(0, 0, 0, 0.5);
}